.idea/
.venv/
__pycache__/
arabic_reformer/__pycache__/
build/
dist/
data/
private/
*.spec
gui/__pycache__/
recordings/
research.ipynb
prepare_exclusive_phrases.ipynb
issues.txt
open_ai_key.txt
color-test.html
gui/translations/*.qm
